
*{
padding:0;
margin:0;
}
#blog {
    background: black;
}


.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1150px;
    min-width: 770px;
    background: #110f12;
}

header {
    display: flex;
    flex-direction: column;
    height: 150px;
    background:#110f12;
    padding: 10px;
}

header nav ul {
}
header nav ul li{
    display: flex;
    justify-content: space-around;

}


header h3{
    text-align: center;
    color: #f03838;
}

header div {
    height: 30px;
}

header nav li a {
    color: #f03838;
    text-decoration: none;
    font-size: 1em;
}

.main {
    display: flex;
    justify-content: center;
    height: 2000px;
}

.content {
    width: 600px;
    height: 2000px;
    background: #110f12;
}


.article {
    display: flex;
    flex-direction: column;
}

article h2{
    color: #FFFFFF;
}

article h3{
    color: #FFFFFF;
    text-align: center;
}





@media screen and (max-width: 768px){

}

.footer {
    /*position: fixed;*/
    background-color: #110f12;
    color: #9e9e9e;
    text-align: center;
    height: 30px;
}